/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #333;
}

/* Encabezado */
header {
  background-color: #cfcece;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Banner */
.banner {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.banner-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-text h2 {
  margin-right: 20px;
}

.btn {
  background-color: #393a3b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.servicios {
  padding: 20px;
}

.servicio {
  margin-bottom: 20px;
}

.servicio h2 {
  margin-bottom: 10px;
}

.tablaServicio {
  width: 100%;
  border-collapse: collapse;
}

.tablaServicio th,
.tablaServicio td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Formularios */
.Crear,
.Modificar,
.Eliminar {
  padding: 20px;
}

.Crear h2,
.Modificar h2,
.Eliminar h2 {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

form input:focus,
form textarea:focus,
form select:focus {
  border-color: #393a3b;
  outline: none;
}

form button {
  background-color: #393a3b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Embellecer los desplegables */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-caret-down-fill" viewBox="0 0 16 16"> <path d="M7.247 11.14l-4.796-5.481c-.566-.647-.106-1.659.753-1.659H13.796c.86 0 1.32 1.012.753 1.659l-4.796 5.48a1 1 0 0 1-1.512 0z"/> </svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px;
}

select::-ms-expand {
  display: none;
}

/* Pie de página */
footer {
  background-color: #f0f0f0;
  margin-top: 200px;
  padding: 10px;
  text-align: center;
}

.contenedor-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contenedor-banner h2 {
  margin-bottom: 10%;
}

.contenedor-botones {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

.contenedor-botones a {
  margin-bottom: 10px 20px;
}

h4 {
  text-align: center;
  margin-top: 50px;
}

.parragrafo {
  text-align: center;
  margin-top: 70px;
}
