
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
    background-image: url('FondoPrincipal1.jpg'); /* Agregar la imagen como fondo del body */
    background-size: cover; /* Ajustar la imagen para cubrir todo el fondo */
    background-position: center; /* Centrar la imagen en el fondo */
    
}


header {
    background-color: #ee99cbce;
    padding: 2% ;
    box-shadow: 0 2% 5% rgba(22, 20, 22, 0.1);
    font-family: "Nunito", sans-serif;
}

.logo {
    
    float: left;
    
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f6f6f7;
}

/* Banner Principal */
#banner {
    background-image: url('FondoPrincipal1.jpg');
    background-size: cover;
    color: #ee99cbbe;
    text-align: center;
    padding: 100px 0;
}

.banner-content {
    max-width: 40%;
    padding: 2% 0;
    margin: 0 auto;
}

.banner-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #ee99cbbe;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}



section {
    padding: 50px 0;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
}


footer {
    background-color: #f1a6d2be;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}
img {
    width: 25%; 
    height: auto;
    background-color: #ee99cbbe;
    color: #ffffff;
    padding: 3% 3%;
    border-radius: 25%;
}   
